<form>
    <label>NAME: </label>
    <input type="text" class="form-control" [ngModel]="project.name" [ngModelOptions]="{standalone: true}">
    <label>DATE: </label>
    <input type="date" class="form-control" 
        [ngModel]="project.start | date:'yyyy-MM-dd'" 
        [ngModelOptions]="{standalone: true}">
</form>
<table>
    <tr>
        <th *ngFor="let column of headers">
            {{ column }}
        </th>
    </tr>
    <tr *ngFor="let data of project.activities"> 
        <td>
            {{ data.sequence }}
        </td>
        <td>
            <input type="text" class="form-control" [(ngModel)]="data.taskName">
        </td>
        <td>
            <input type="number" class="form-control" [(ngModel)]="data.estimate">
        </td>
        <td>
            <input type="text" class="form-control" [(ngModel)]="data.predecessors">
        </td>
        <td>
            <input type="text" class="form-control" [(ngModel)]="data.resource">
        </td>
        <td>
            <input type="text" class="form-control" [(ngModel)]="data.priority">
        </td>
        <td>
            {{ data.start | date :'shortDate' }}
        </td>
        <td>
            {{ data.finish | date:'shortDate' }}
        </td>
    </tr>
</table>
<div>
    <button (click)="saveProject()">SAVE</button>
    <button (click)="addRow()">ADD ROW</button>    
</div>
<div>
    <a href="/planlist">Plans</a>
</div>